<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is the current ozone quality for this area.</p>
  <hr class="my-4">
  <p>Hit "Reload" in the browser for current reading</p>
  <p class="lead">
    <a class="btn btn-secondary btn-lg" href="#" role="button">Get Ozone</a>
  </p>



</div>

  <br/>

  <%= @output %>